{% extends 'base.html' %}

{% block content %}


<div class="container text-center">
    <div class="row">
        <div class="form-group col-8">
            <h1>Post</h1>
            <!-- Loop all the post -->
            {% for posting in postings %}
            <div class="alert alert-secondary" role="alert">
                <strong>{{ posting.body }}</strong><br/>
                <small class="text-muted">
                    {{ posting.created_at }} By
                    @{{ posting.user.username }}
                </small>
            </div>
            {% endfor %}
        </div>
        

         <!-- Add Post -->
        <div class="form-group col-4">
            {% if form %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-success">Add Post</button>
            </form>
            {% endif %}
        </div>
    </div>

</div>


{% endblock %}  