{% extends 'base.html' %}

<div class="col-md-6 offset-md-3">
    
{% block content %}

<h1>Login</h1>

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Usename or email" name="username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

{% endblock %}