{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if profile %}

<div class="container text-center">

    <div class="row">
        <div class="col-8">
        <h1>{{ profile.user.username }}'s Profile</h1>

        {% csrf_token %}
        {% if profile in user.profile.follows.all %}       
            {% if postings %}
                {% for posting in postings %}
                <div class="alert alert-secondary" role="alert">
                    <strong>{{ posting.body }}</strong><br/>
                    <small class="text-muted">
                        {{ posting.created_at }} By
                        @{{ posting.user.username }}
                    </small>
                </div>
                {% endfor %}
            {% endif %}
        {% endif %}
       

        </div>

        <div class="col-4">

            {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" height="168px" width="168px" alt="Profile Image">
            {% else %}
            <img src="{% static 'images/default.jpg' %}" height="168px" width="168px" alt="Profile Image">
            {% endif %}
            <br/><br/>

            <!-- Create Card that you are following -->
            <div class="card">
                <div class="card-header">
                    <strong>Follows</strong>
                </div>
                <div class="card-body">
                  {% for following in profile.follows.all %}
                  <a href="{% url 'profile' following.user.id %}">@{{ following }}</a><br/>
                  {% endfor %}
                </div>
              </div>
              <br/><br/>
              <!-- Create Card that follows you -->
              <div class="card">
                <div class="card-header">
                    <strong>Followed by</strong>
                </div>
                <div class="card-body">
                    {% for following in profile.followed_by.all %}
                    <a href="{% url 'profile' following.user.id %}">@{{ following }}</a><br/>
                    {% endfor %}
                </div>
              </div>
              <br/><br/>

              <!-- Create button -->
              <form method="POST">
                {% csrf_token %}
                {% if profile in user.profile.follows.all %}
                    <button type="submit" class="btn btn-outline-danger" name="follow" value="unfollow">
                        Unfollow @{{ profile.user.username|lower }}
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-outline-success" name="follow" value="follow">
                        Follow @{{ profile.user.username|lower }}
                    </button>

                {% endif %}    
              </form>
           
        </div>
    </div>
</div>


{% endif %}

{% endblock %}  