{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Profile List</h1>



{% if profiles %}
    {% for profile in profiles %}
    
    

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row">
          <div class="col-md-4">
            {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" height="168px" width="168px" alt="Profile Image">
            {% else %}
            <img src="{% static 'images/default.jpg' %}" height="168px" width="168px" alt="Profile Image">
            {% endif %}
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">{{ profile.user.username }}</h5>
              <p class="card-text"><a href="{% url 'profile' profile.user.id %}">@{{ profile.user.username|lower }}</a></p>
              <p class="card-text"><small class="text-body-secondary">Last Updated: {{ profile.date_modified }}
            </small></p>
            </div>
          </div>
          <div class="col-md-4">
              <div class="card-body text-center">
                <h5>{{ profile.followed_by.all.count }}</h5>
                <p><small class="text-body-secondary">Follower</small></p>
                <h5>{{ profile.follows.all.count }}</h5>
                <p><small class="text-body-secondary">Following</small></p>
              </div>
          </div>
        </div>
      </div>

      

        {% endfor %}
{% endif %}

{% endblock %}